@media screen and (max-width: 600px) {
    .sidebar {
        width: 50px;
        position: relative;
    }

    .logo {
        display: none;
    }

    .icon {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
    }

    .main-content {
        width: 100% - 50px;
    }

    .header {
        width: calc(100% - var(--sidebar-width));
    }
}

@media screen and (max-width: 1100px) {
    .album {
        width: calc (100% / 4 - 15px)
    }

}

@media screen and (min-width: 600px) {
    
    .icon {
        display: none;
    }
}