/* RESET  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-color);
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;;
}


img {
    width: 100%;
}

:root {
    --player-height: 80px;
    --sidebar-width: 200px;
    --header-height: 100px;
    --main-color: #a3a3a3;


}

/* LAYOUT  */
.wrapper {
    width: 100%;
    height: 100vh;
    
}

.player {
    height: var(--player-height);
    background-color: #282828;
}

.content {
    display: flex;
    width: 100%;
    height: calc(100% - var(--player-height));
    background-color: #141922;
}

.sidebar {
    width: var(--sidebar-width);
    
    background-color: black;
}

.main-content {
    height: 100%;
    width: var(--sidebar-width);
    padding: 1rem;
}

/* HEADER  */

.btn {
   border-radius: 20px;
   border: 1px solid white;
   padding: .7rem 2rem;
   text-decoration: none;
}

.header {
    position: fixed;
    height: var(--header-height);
    width: calc(100% - var(--sidebar-width));
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
/* MAIN  */
/* Sidebar  */

ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: .7rem;
    padding-top: 2rem;
}



li:first-of-type {
    color: white;
}

/* Center  */
/* Center top  */

.menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 10px;
    justify-content: center;
    padding-top: calc(var(--header-height) + 10px);
    padding-bottom: 10px;
    
}

.menu a {
    text-decoration: none;
}

.list-album {
    display: flex;
    flex-wrap: wrap; 
    
}

.list-album:first-of-type {
    padding-top: var(--header-height)
}

.list-album {
    padding-bottom: 1rem;
}

.album {
    width: calc(100% / 6 - 20px);
    padding-right: 1rem;
    
}

#round {
    border-radius: 100%;
}
.main-section {
    overflow-y: auto;
   
}

.player {
    /* display: flex; */
    width: 100%;
    
}  

/* FOOTER  */
/* Player  */

.player-content {
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-left: 2rem;
    height: var(--player-height);
    
}

.left-player {
   display: flex;
   align-items: center;
   padding-bottom: 1rem;
}

.left-player img {
    height: 80px;
    width: 80px;
    padding-bottom: 1rem;
    padding-right: 1rem;
    
}



.center-player {
   width: 30%;
   text-align: center;
   
}

.spazio {
    padding-left: 2rem;
}

.center-player hr {
    margin-top: .8rem;
    width: 80%;
    
}

.bar {
    display: flex;
    align-items: center;
}

.min,
.max {
    width: 10%;
    margin: 10px;
}

.max {
    text-align: right;
}

.player-bar {
    height: 2px;
    border-radius: 2px;
    width: 80%;
    background-color: white;
}

/* .player-list {
    display: flex;
    gap: 10px;
    align-items: center;
}

.player-list li {
    cursor: pointer;
} 

.player-list .play:hover {

    transform: scale(1.1)
} */

.right-player {
    display: flex;
    width: 30%;
    justify-content: flex-end;
   
}
